[Desktop Entry]
Name=Icalingua++
Exec="/usr/bin/icalingua++_launcher" %U
Terminal=false
Type=Application
Icon=icalingua
StartupWMClass=Icalingua++
Comment=A client for (maybe) any IM made with Electron
Categories=Network;
